@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

body * {
  z-index: 1;
}

/* Default style */
.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header {
  font-size: 80px;
  margin: -40px 0 40px;
}

.countdown {
  display: flex;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

/* Style for mobile screens */
@media (max-width: 500px) {
  .container {
    align-items: center;
    gap: 60px;
  }

  .header {
    transform: scale(0.55);
    flex-direction: row;
    white-space: nowrap;
  }

  .countdown {
    flex-direction: column;
    transform: scale(2.3);
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 13px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}